body{
    display: flex;
}
.a,.b,.c{
    height: 300px;
    width: 300px;
    background-image: linear-gradient(white, black);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  /* <- here it is */
}
.a{
    background: black;
}
.c{
    background: #9f9f9f;
}
.b{
    background: #002aff;
}