.father{
    height: 900px;
    width: 800px;
    border: solid green 2px;
    margin: auto;
}
.size_ico{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: red;
    height: 100%;
    width: 100px;
}
.card{
    height: 200px;
    width: 380px;
    border: solid red 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}