.family {
    background: cyan;
    color: #002aff;
}

.gomer {
    background: burlywood;
    color: #ffffff;
}

.bart {
    background: darkslategray;
    color: #22ff00;

}

.lisa {
    background: tan;
    color: purple;
}