

h {

    color: #ffffff;
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.margin {
    margin: 34px 29.50px;
}

.colorBox {
    box-sizing: border-box;
    width: 572px;
    height: 250px;
    background: #3b6bc7;
    border-radius: 5px;
}
.top{
    margin-top: 10px;
}
.bottom{
    margin-bottom: 10px;
}
.margin1{

    border-radius: 5px;
    margin-right: 5px;
}
.margin2{
    background-color: #EEDDFF;

    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.margin3{
    background-color: #EEDDFF;

    border-radius: 5px;
    margin-left: 5px;

}
.container {
    box-sizing: border-box;
    width: 572px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

.midlebox {
    box-sizing: border-box;
    background: #1f2f6e;
    display: flex;
    height: 250px;
    width: 192px;
    border-radius: 5px;
}
.colorBox2 {
    box-sizing: border-box;
    width: 572px;
    height: 350px;
    background: #3b6bc7;
    border-radius: 5px;
}